/* .contenedor {
    width: 100%;
    height: auto;
    margin: 100px
} */

.imghome {
    background-image: url(/assets/img2.jpg);
    z-index: 1;
    width: 100%;
    height: auto;
    position: relative;
    border-width: 3px;
    border-style: solid;
    z-index: 0;
}

.imgabout {
    background-image: url(/assets/img1.jpg);
    z-index: 0;
    width: 100%;
    height: auto;
    border-width: 3px;
    border-style: solid;
    position: relative;
}

.imgcontact {
    background-image: url(/assets/hockey2.jpg);
    z-index: 0;
    width: 100%;
    height: auto;
    border-width: 3px;
    border-style: solid;
    position: relative;
}

h1 {
    position: absolute;
    padding-left: 70px;
    font-size: 50px;
    z-index: 1;
}

.imagenlogo {
    position: absolute;
    padding-left: 1000px;
    z-index: 2;
    padding-bottom: 300px;
    /* background-color: green; */
}

.logo {
    width: 60%;
    height: auto;
}

.h2_titulo>h2 {
    color: white;
}

.h2_titulo {
    background-color: black;
    position: relative;
    align-items: center;
    padding-left: 500px;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 0;
}

.menu {
    display: inline-flex;
    flex-direction: column;
    justify-items: center;
    z-index: 3;
    /* background-color: tomato; */
    position: absolute;
    padding-top: 100px;
}

.button {
    padding: 20px;
}

.fechas {
    /* background-color: yellow; */
    padding-left: 400px;
}

.general {
    width: 99.2%;
    height: 200px;
    /* background-color: gray; */
    position: absolute;
}

.info {
    width: 80%;
    height: 200px;
    /* background-color: gray; */
    position: absolute;
    padding-left: 300px;
}

.mission {
    padding-left: 30px;
    padding-right: 300px;
}

.vision {
    padding-left: 40px;
    padding-right: 100px;
}

.gen {
    padding-left: 40px;
    padding-right: 90px;
}

.mail {
    padding-left: 400px;
    padding-top: 100px;
    /* background-color: red; */
}