html {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.imghome {
    background-image: url(/assets/img2.jpg);
    z-index: 1;
    width: 100%;
    height: auto;
    position: absolute;
    /* border-width: 3px;
    border-style: solid; */
}

.imgabout {
    background-image: url(/assets/img1.jpg);
    z-index: 0;
    width: 100%;
    height: auto;
    /* border-width: 3px;
    border-style: solid; */
    position: absolute;
}

.imgcontact {
    background-image: url(/assets/hockey2.jpg);
    z-index: 0;
    width: 100%;
    height: auto;
    /* border-width: 3px;
    border-style: solid; */
    position: absolute;
}

.imgregister {
    background-image: url(/assets/hockey3.jpg);
    z-index: 0;
    width: 100%;
    height: auto;
    position: absolute;
}

.imgstadium {
    background-image: url(/assets/imgstadium.jpg);
    z-index: 0;
    width: 100%;
    height: auto;
    position: absolute;
}

.imgrules {
    background-image: url(/assets/hockey4.jpg);
    z-index: 0;
    width: 100%;
    height: auto;
    position: absolute;
}

h1 {
    text-align: right;
    position: relative;
    font-size: 3rem;
    padding-right: 3rem;
    color: rgb(250, 231, 61);
    /* text-shadow: 4px 3px white; */
    -webkit-text-stroke: 1px rgb(247, 138, 75);
    margin: 0%;
    background-color: black;
    /* z-index: 0; */
}

.imagenlogo {
    position: absolute;
    z-index: 4;
    padding-top: 430px;
    padding-left: 540px;
    /* background-color: green; */
}

.logo_register {
    position: absolute;
    z-index: 4;
    padding-top: 440px;
    padding-left: 540px;
}

.logo_rules {
    position: absolute;
    z-index: 4;
    padding-top: 460px;
    padding-left: 540px;
}

.logo {
    width: 30%;
    height: auto;
}

.title_home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.title_about {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-right: 3rem;
    margin-left: 3rem;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 5;
    padding-top: 20px;
    background-color: black;
    position: absolute;
    width: 100%;
}

.button {
    margin: 10px;
    text-align: center;
    padding: 5px 5px;
    /* border-width: 2px; */
    /* border-style: solid; */
    /* border-color: black; */
    /* box-shadow: 4px 3px black; */
}

.button>a {
    color: white;
    display: inline-flex;
    text-decoration: none;
}

.general {
    /* height: 200px; */
    background-color: black;
    /* position: relative; */
    padding-top: 40rem;
    z-index: 0;
    /* height: 90px; */
}

.container_about {
    display: flex;
    text-align: center;
    background-color: black;
    padding-top: 58rem;
}

.mail {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 1080px;
    padding-bottom: 100px;
    text-align: center;
    /* background-color: red; */
}

#logo_about {
    padding-top: 710px;
    padding-left: 540px;
    position: absolute;
    z-index: 1;
    /* background-color: blue; */
}

#logo_contact {
    padding-top: 840px;
    padding-left: 540px;
    position: absolute;
    z-index: 1;
    /* background-color: blue; */
}

#mailto {
    color: blue;
}

.mail {
    background-color: black;
}

.text_contact {
    color: white;
}

.p_games {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-style: italic;
    color: white;
    /* background-color: black; */
}

.container_games {
    display: flex;
    justify-content: center;
    background-color: #F4E176;
    padding: 2rem;
}

.container_info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #F4E176;
}

.container_rules {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: #F4E176;
    /* border: 1rem solid var(--main-color); */
    border: 0.1rem solid black;
    position: relative;
}

.title_games {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
}

.title_rules {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    background-color: black;
    padding-top: 2rem;
    border: 2rem;
    color: white;
}

.title_register {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    background-color: black;
    color: white;
}

table {
    table-layout: fixed;
    width: 50%;
    border-collapse: collapse;
    border: 3px solid black;
}

th,
td {
    border-bottom: 1px solid #999;
    text-align: center;
}

dt {
    font-weight: bold;
}

.container_form {
    display: flex;
    position: relative;
    flex-direction: column;
    /* border: 9rem solid black; */
    border-right: 9rem solid black;
    border-left: 9rem solid black;
    background-color: black;
    color: white;
}

.container_first {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.container_gender {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 0.1rem solid white;
    /* background-color: cyan; */
}

.container_grade {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 0.1rem solid white;
    /* background-color: darkolivegreen; */
}

.container_grade>input {
    margin-left: 3rem;
}

.container_school {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border: 0.1rem solid white;
    /* background-color: red; */
}

form>h4 {
    text-align: center;
}

.container_position {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: blue; */
}

.permission>h3,
p {
    text-align: center;
}

.container_signature {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: red; */
}

.button_submit {
    display: flex;
    justify-content: center;
}

.container_first>label,
input {
    margin: 0.3rem;
}

label {
    font-weight: bold;
}

footer>p {
    color: white;
    font-size: 0.9rem;
    border-top: 0.1rem solid white;
    padding-top: 2rem;
    /* background-color: violet; */
}